body {
	--es-05gap: calc(var(--es-gap) / 2);
	--es-gap: 8px;
	--es-2gap: calc(var(--es-gap) * 2);
}

.navigation.navigation-main {
	display: flex;
	flex-flow: column nowrap;
}

.service-search-trigger {
	order: -1;
	height: 40px;
	background-color: inherit;
	border: 0;
}

.service-search-trigger:hover {
	background-color: rgba(0,0,0,.1);
}

.service-search-dialog {
	margin: 0;
	width: 600px;
	height: 800px;
	position: absolute;
	left: 100px;
	top: 32px;
	z-index: 10;
	display: flex;
	flex-flow: column nowrap;
	padding: 0;
	padding-top: var(--es-2gap);
	border: 1px solid rgba(125, 125, 125, 0.2);
	box-shadow: 5px 0 5px -1px rgba(0,0,0,.2), 0 5px 5px -1px rgba(0,0,0,.2);
}

.dialog-header {
	display: flex;
	margin-bottom: var(--es-gap);
	font-family:Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:19px;
	font-weight:500;
}

.dialog-title {
	flex-grow: 1;
	margin-left: var(--es-2gap);
}

.dialog__close-trigger {
	margin-left: var(--es-gap);
	margin-right: var(--es-2gap);
	background-color: transparent;
	border: 0;
}

.service-search-input {
	margin: 0 var(--es-2gap) var(--es-gap) var(--es-2gap);
	width: calc(100% - calc(var(--es-2gap) * 2));
}

.service-list-node {
	overflow-y: scroll;
	list-style: none;
	padding: 0;
	flex-grow: 1;
	margin: 0;
}

.service-item {
	padding: var(--es-05gap) 0 var(--es-05gap) var(--es-2gap);
}

.service-item:focus-within {
	background-color: dodgerblue;
	color: white;
}

.service-code {
	margin-right: 8px;
}

.service-link:focus {
	color: #fdfdfd;
}

.__es__persons-list {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	width: 100%;
	background-color:	white;
	z-index: 10;
	list-style: none;
	padding: 0;
	max-height: 1000px;
	overflow-y: scroll;
	box-shadow: 5px 0 5px -1px rgba(0,0,0,.2), 0 5px 5px -1px rgba(0,0,0,.2);
	flex-flow: column nowrap;
}

input[placeholder="Поиск по ФИО, СНИЛС или номеру мобильного телефона в реестре клиентов..."]:focus ~ .__es__persons-list:not(:empty),
.__es__persons-list:focus-within,
.__es__persons-list:hover:not(:empty) {
	display: flex;
}

.__es__person__trigger {
	background-color: transparent;
	border: 0;
	width: 100%;
	text-align: left;
	padding: 8px 13px;
}

.__es__person__trigger:hover {
	background-color: hsla(197, 71%, 73%, 0.231);
}

.__es__person__trigger:focus {
	background-color: hsla(197, 50%, 73%, 0.3);
}

.__es__person__name {
	font-weight: bold;
}
